{% extends 'FlexyFtwoStoreBundle:Layout:base.html.twig' %}

{% import "FlexyFtwoStoreBundle:Components:forms.html.twig" as forms %}

{% block content %}
    {% include 'FlexyFtwoStoreBundle:Include:breadcrumbs.html.twig' with { path : [ { 'title' : 'Esqueci minha senha' } ] } %}

    <div class="container py-6 md:py-12">
        <div class="grid h-full gap-24 mt-6 lg:grid-cols-2 md:mt-12">
            <div>
                <h1 class="text-3xl font-bold leading-tight tracking-tight text-gray-900">Esqueci minha senha</h1>

                <p class="mt-2 text-sm leading-6 text-gray-500">
                    Ainda não tem uma conta?

                    <a class="font-semibold text-primary-600 hover:text-primary-500" href="{{ path('flexy_ftwo_store_customer_create') }}">
                        Cadastre-se
                    </a>
                </p>

                <h2 class="mt-12 text-xl font-bold leading-tight tracking-tight text-gray-900">Lembrete de senha enviado!</h2>

                <p class="mt-4 text-gray-600">
                    Você receberá um e-mail com instruções para alterar sua senha, caso não tenha recebido o e-mail, volte a etapa anterior para reenviar.
                </p>

                <div class="mt-6">
                    <a href="{{ path('flexy_ftwo_store_customer_login') }}" class="font-semibold text-primary-600 hover:text-primary-500">
                        &larr; Voltar ao acesso da conta
                    </a>
                </div>
            </div>

            <img src="https://d8vlg9z1oftyc.cloudfront.net/mimo/mimo-file-manager/assets/images/cadastro.png" alt="" class="ml-auto hidden h-[400px] lg:block xl:h-[600px]" />
        </div>
    </div>
{% endblock %}
